body {
  background: rgb(204, 229, 255, 0.4);
}

#title {
  color: rgb(186, 133, 9);
}

.subtitle {
  color: rgb(200, 148, 30);
}

#service-image {
  height: 272px;
  width: 70%;

  background: linear-gradient(215deg, rgb(94, 255, 126), rgb(94, 255, 126, 0));
  background-size: cover;
}
